numpy==1.19.5
aiomysql==0.0.21
requests==2.22.0
pyscreenshot==2.3
aiohttp_cors==0.7.0
pytesseract==0.3.7
aiohttp==3.6.2
fastkml==0.11
opencv_python==4.5.1.48
Shapely==1.7.1
mechanize==0.4.5
PyMySQL==0.9.3
beautifulsoup4==4.9.3
Pillow==8.2.0
